.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-idle-frame-01 {
    width: 170px;
    height: 168px;
    background-position: 0 0;
}

.sprite-idle-frame-02 {
    width: 170px;
    height: 168px;
    background-position: -170px 0;
}

.sprite-idle-frame-03 {
    width: 170px;
    height: 168px;
    background-position: -340px 0;
}

.sprite-idle-frame-04 {
    width: 170px;
    height: 168px;
    background-position: -510px 0;
}

.sprite-idle-frame-05 {
    width: 170px;
    height: 168px;
    background-position: -680px 0;
}

.sprite-idle-frame-06 {
    width: 170px;
    height: 168px;
    background-position: -850px 0;
}

.sprite-idle-frame-07 {
    width: 170px;
    height: 168px;
    background-position: -1020px 0;
}
